header {
	background: #B098C1;
	padding: 20px 0;
}

#logo-principal {
	width: 30%;
}

.caixa {
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 140px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

.planos{
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;
}

.planos li {
	/*background: #B098C1;*/
	display: inline-block;
	text-align: center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 30px 20px;
	box-sizing: border-box;
}

.planos h2 {
	font-size: 30px;
	font-weight: bold;
}

#imagem-planos {
	padding: 20px 0;
	width: 80%;
}

.plano-descricao {
	font-size: 18px;
}

.plano-preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}

