header {
	background: #CCCCCC;
	padding: 20px 0;
}

#logo-principal {
	width: 30%;
}

.caixa {
	width: 940px;
	position: relative;
	margin: 0 auto;
}

body {
	font-family: Verdana;
}

nav {
	position: absolute;
	top: 140px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}

.titulo-principal {
	text-align: center;
	margin: 20px auto;
	font-weight: bold;
	font-size: 25px;
}

#foto-palco {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.titulo-release {
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	margin: 0px 20px 20px 20px;
}

.principal {
	padding: 25px;
	background: #CCCCCC;
	margin-right: auto;
	margin-left: auto;
	width: 65%;
	box-sizing: border-box;
	border: 4px solid #CCCCCC;
	border-radius: 10px;
}

p {
	text-align: center;
}

div p strong{
	font-weight: bold;
	font-style: italic;
}

.assuntos {
	text-align: center;
	margin: 20px;

}

.titulo-assuntos {
	text-align: center;
	font-size: 30px;
	margin: 20px auto;
	font-weight: bold;
}

.itens {
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	font-style: italic;
}

#foto-flyer{
	
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

#imagem-footer {
	width: 100px;
}

.copyright {
	color: white;
	font-size: 15px;
	margin-top: 20px;
}