header {
	background: #CCCCCC;
	padding: 20px 0;
}

.logo-principal {
	width: 30%;
}

.caixa {
	width: 940px;
	position: relative;
	margin: 0 auto;
}

body {
	font-family: Verdana;
}

nav {
	position: absolute;
	top: 140px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: purple;
	text-decoration: underline;
}

.titulo-principal {
	text-align: center;
	margin: 20px auto;
	font-weight: bold;
	font-size: 2em;
	margin: 1em 0 1em;
	clear: left;
}

.foto-palco {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 20%;
	margin-top: 20px;
	border-radius: 10px;
}

.foto-frente {
	width: 180px;
	float: left;
	margin: 0 20px 20px 0;
	border-radius: 10px;
}

.principal {
	padding: 1em;
	/*background: #CCCCCC;*/
	margin-right: auto;
	margin-left: auto;
	width: 940px;
	box-sizing: border-box;
	/*border: 4px solid #CCCCCC;
	border-radius: 10px;*/
	line-height: normal;
}

p {
	margin: 0 0 1em;
}

div p strong{
	font-weight: bold;
}

.assuntos {
	text-align: center;
	margin: 20px;

}

.itens {
	font-size: 1.5em;
	display: inline-block;
	vertical-align: top;
	line-height: normal;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

#imagem-footer {
	width: 100px;
}

.copyright {
	color: white;
	font-size: 15px;
	margin-top: 20px;
}
