.titulo-principal {
	text-align: center;
}

#foto-palco {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 25%;
}

.titulo-release {
	text-align: center;
	background: #D0CEDD;
}

.principal {
	padding: 25px;
	background: #D0CEDD;
	margin-right: 10px;
	margin-left: 10px;
}

em strong {
	color: #6E0A78;
}

p {
	text-align: center;
}

.titulo-assuntos {
	text-align: center;
	font-size: 30px;
}

.itens {
	display: inline-block;
	vertical-align: top;
	width: 34%;
	font-style: italic;
	margin-left: 20px;
}

#foto-flyer{
	width: 25%;
}